@using static Xero.NetStandard.OAuth2.Model.Accounting.TaxRate;
@model dynamic

<h2>Create Tax Rates</h2>
<form method="POST">
    <label for="name">Name:</label>
    <br>
    <input class="form-control" type="text" id="name" placeholder="" name="name" />
    <br>
    <label for="rate">Rate:</label>
    <br>
    <input class="form-control" type="number" id="rate" placeholder="0.0" name="rate" />
    <br>
    <label for="taxType">Tax Type:</label>
    <br>
    <select name="reportTaxType">
        @foreach (var reportTaxType in Enum.GetValues(typeof(ReportTaxTypeEnum))){
            <option value=@reportTaxType selected="@(reportTaxType.ToString() == "NONE")">@reportTaxType</option>
        }
    </select>
    <br>
    <br>
    <label for="status">Status:</label>
    <br>
    <select name="status">
        @foreach (var status in Enum.GetValues(typeof(StatusEnum))){
            <option value=@status selected="@(status.ToString() == "ACTIVE")">@status</option>
        }
    </select>
    <br>
    <br>
    <input class="btn btn-primary" type="submit" />
</form>