<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - XeroNetStandardApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />

</head>

    <body>
        <header>
            @await Component.InvokeAsync("NavBar", new { maxPriority = 2, isDone = false })
        </header>

        <div class="row no-gutters">
            <div class="col-3 no-gutters">
                @await Component.InvokeAsync("SideBar", new { maxPriority = 2, isDone = false })
            </div>
            <div class="col-9 no-gutters">
                <div class="render-body">
                    @RenderBody()
                </div>
            </div>
        </div>

        <footer>
            <div class="footer">
                &copy; @DateTime.Now.Year - XeroNetStandardApp
            </div>        
        </footer>
        
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>

        @RenderSection("Scripts", required: false)
    </body>
</html>
