<h2>Create a UK Payroll Employee</h2>

<form method="POST">
    <label for="firstName">First Name:</label>
    <br>
    <input class="form-control" type="text" id="firstName" placeholder="" name="firstName" required/>
    <br>
    <label for="lastName">Last Name:</label>
    <br>
    <input class="form-control" type="text" id="lastName" placeholder="" name="lastName" required/>
    <br>
    <br>
    <input class="btn btn-primary" type="submit" />
</form>
