@model dynamic

<h2>Create a Xero Project</h2>

@*
    Create project form
*@

<form method="POST">
    <label for="contactId">Contact:</label>
    <br>
    <select id="contactId" name="contactId">
        @foreach (var contact in Model) {
            <option value=@contact.Item2>@contact.Item1</option>
        }
    </select>
    <br>
    <br>
    <label>Project Name:</label>
    <input class="form-control" type="text" id="name" placeholder="Enter a name for the project" name="name" required/>
    <br>
    <label for="Number">Estimated Amount:</label>
    <br>
    <input class="form-control" type="number" step="any" id="estimateAmount" placeholder="e.g. 10,000.00" name="estimateAmount" required/>
    <br>
    <br>
    <input class="btn btn-primary" type="submit"/>
</form>

<hr/>

@*
    Code example
*@

<p><b>Code Example:</b></p>
<pre>
    public async void CreateProject(string name, Guid contactId){
        var newProject = new CreateProjectOrUpdate() {
            Name = name,
            EstimateAmount = 100,
            ContactId = contactId,
            DeadlineUtc = DateTime.Today.AddDays(10)
        };

        var projectApi = new ProjectApi();
        await projectApi.CreateProjectAsync(xeroAccessToken, xeroTenantId, newProject);
    }
    </pre>
<br>
