@model dynamic

<h2>Create a Xero Project</h2>

<form method="POST">
    <label for="contactId">Contact Id:</label>
    <br>
    <select id="contactId" name="contactId">
    @foreach (var contactId in Model) {
    <option value=@contactId>@contactId</option>
    }
    </select>
    @* <input class="form-control" type="text" id="contactId" placeholder="Enter a contact ID for the project" name="contactId" required/> *@
    <br>
    <br>
    <input class="form-control" type="text" id="name" placeholder="Enter a name for the project" name="name" required/>
    <br>
    <label for="Number">Project Estimated Amount (in AUD for this example):</label>
    <br>
    <input class="form-control" type="number" step="any" id="estimateAmount" placeholder="Enter a estimated amount for the project" name="estimateAmount" required/>
    <br>
    <br>
    <input class="btn btn-primary" type="submit" />
</form>

<hr>

<p><b>Code Example:</b></p>
<p>Create Project</p>
<pre>
// Assuming accessToken and xeroTenantId has been provided
DateTime deadlineUtc = DateTime.Today.AddDays(10);

Amount projectAmount = new Amount() {
    Currency = CurrencyCode.AUD,
    Value = Decimal.Parse(estimateAmount)
};

var project = new ProjectCreateOrUpdate() {
    Name = name,
    EstimateAmount = Decimal.Parse(estimateAmount),
    ContactId = Guid.Parse(contactId),
    DeadlineUtc = deadlineUtc
};

var ProjectApi = new ProjectApi();
await ProjectApi.CreateProjectAsync(accessToken, xeroTenantId, project);
</pre>
<br>
<p>
  <button class="btn btn-link" onclick="location.href='@Url.Action("Index", "Home")'">Home</button>
</p>
<br>
<br>
<br>
