@model dynamic

<h2>Delete a Xero Project Task</h2>

<form method="POST">
    <label for="projectName">Project Name:</label>
    <table class="table table-responsive fixed-table-body">
        <th>
            <select id="projectName" name="projectName">
                @foreach (var projectName in Model.projectNames)
                {
                    <option value=@projectName>@projectName</option>
                }
        </th>
        <th>
            <input class="btn btn-primary" type="submit" value="Select" onclick="selectingProject_Button_OnClick"/>
        </th>
    </table>
</form>

<br>

<form method="POST">
    <label for="taskName">Task Name:</label>
    <table class="table table-responsive fixed-table-body">
        <th>
            <select id="taskName" name="taskName">
                @foreach (var taskName in Model.taskNames)
                {
                    <option value=@taskName>@taskName</option>
                }
        </th>
    <th>
        <input class="btn btn-primary" type="submit" value="Delete" onclick="selectingTask_Button_OnClick"/>
    </th>
    </table>
</form>

<br>

<p>
  <button class="btn btn-link" onclick="location.href='@Url.Action("Index", "Home")'">Home</button>
</p>
<br>
<br>
<br>
