@model dynamic

<h2>Update a Xero Project Task</h2>

<form method="POST">
  <label for="projectName">Project Name:</label>
  <table class="table table-responsive fixed-table-body">
    <th>
      <select id="projectName" name="projectName">
      @foreach (var projectName in Model.projectNames)
      {
        <option value=@projectName>@projectName</option>
      }
    </th>
    <th>
      <input class="btn btn-primary" type="submit" value="Select"/>
    </th>
    </table>
</form>

<br>

<form method="POST">
  <label for="taskName">Task Name:</label>
  <table class="table table-responsive fixed-table-body">
    <tr>
      <select id="taskName" name="taskName">
      @foreach (var taskName in Model.taskNames)
      {
      <option value=@taskName>@taskName</option>
      }
    </tr>
    
    <tr>
      <input class="form-control" type="text" id="newTaskName" placeholder="Enter new name for the task for the selected project" name="newTaskName" required/>    </tr>
    </tr>

    <tr>
      <input class="form-control" type="number" step="any" id="taskRate" placeholder="What is the new rate for this task?" name="taskRate" required/>
    </tr>

    <tr>
      <input class="form-control" type="number" step="any" id="estimateMinute" placeholder="Enter estimated minute required for this task" name="estimateMinute" required/>
    </tr>

    <tr>
      <select id="taskChargeType" name="taskChargeType" required>
        <option value="TIME">Per Hour</option>
        <option value="FIXED">Fixed</option>
        <option value="NON_CHARGEABLE">Non-Chargeable</option>
      </select>
    </tr>
  </table>

  <br>
    <input class="btn btn-primary" type="submit" value="Update"/>
</form>

<br>

<p>
  <button class="btn btn-link" onclick="location.href='@Url.Action("Index", "Home")'">Home</button>
</p>
<br>
<br>
<br>