<h2>Create File</h2>

<form method="POST">
    <label for="name">File Name:</label>
    <br>
    <input type="text" id="name" placeholder="Enter a file name" name="Name"/>
    <br>

    <label for="userEmail">User Email:</label>
    <br>
    <input type="text" id="userEmail" placeholder="Enter User Email" name="userEmail" />
    <br>

    <label for="fullName">Full Name:</label>
    <br>
    <input type="text" id="fullName" placeholder="Enter Full Name" name="FullName" />
    <br>
    
    <br>
    <input type="submit" />
</form>