@model dynamic

<h2>Create a Xero Bank Feed Statements</h2>

<form method="POST">

    <label for="FeedConnectionID">Feed Connection ID:</label>
    
    <br/>
    
    <select id="FeedConnectionID" name="FeedConnectionID">
        @foreach (var connectionId in Model)
        {
            <option value=@connectionId>@connectionId</option>
        }
    </select>
    
    <br/>
    <br/>
    
    <label for="StartBalanceAmount">Start Balance Amount:</label>
    
    <br/>
    
    <input type="text" id="StartBalanceAmount" placeholder="Enter Start Balance Amount" name="StartBalanceAmount" class="form-control" required/>
    
    <br/>
    
    <label for="startBalanceIndicator">Start Balance Credit/Debit Indicator:</label>
    
    <br/>
    
    <select id="startBalanceIndicator" name="startBalanceIndicator">
        <option value="CREDIT">CREDIT</option>
        <option value="DEBIT">DEBIT</option>
    </select>
    
    <br/>
    <br/>
    
    <input class="btn btn-primary" type="submit"/>

</form>

