<h2>Create Folder</h2>

<form method="POST">
    <label for="Name">Folder Name:</label>
    
    <br>
    
    <input class="form-control" type="text" id="Name" placeholder="Enter a folder name" name="Name" required/>
    
    <br>

    <input class= "btn btn-primary" type="submit" />
</form>