@model dynamic

<h2>Summary of all the reports published within a given period</h2>

<p><b>Raw JSON Response:</b></p>
<textarea class="form-control" readonly style="height: 350px">
@ViewBag.jsonResponse;
</textarea>
<br>
<p><b>Code Example:</b></p>
<p>For a specified organisation, provides a summary of all the reports published to current date.</p>
<pre>
// Assuming accessToken and xeroTenantId has been provided

var FinanceApi = new FinanceApi();

var response = await FinanceApi.GetAccountingActivityReportHistoryAsync(
  accessToken,
  xeroTenantId,
  null
  );

ViewBag.jsonResponse = response.ToJson();

return View(response);
</pre>
<br>
<p>
  <button class="btn btn-link" onclick="location.href='@Url.Action("Index", "Home")'">Home</button>
</p>