@model dynamic

<h2>Xero User Activities</h2>

<p><b>Raw JSON Response:</b></p>
<textarea class="form-control" readonly style="height: 350px">
@ViewBag.jsonResponse;
</textarea>
<br>
<p><b>Code Example:</b></p>
<p>For a specified organisation, provides a list of all the users registered, and a history of their accounting transactions. Also identifies the existence of an external accounting advisor and the level of interaction.</p>
<pre>
// Assuming accessToken and xeroTenantId has been provided

var FinanceApi = new FinanceApi();

var response = await FinanceApi.GetAccountingActivityUserActivitiesAsync(
  accessToken,
  xeroTenantId,
  null
  );

ViewBag.jsonResponse = response.ToJson();

return View(response);
</pre>
<br>
<p>
  <button class="btn btn-link" onclick="location.href='@Url.Action("Index", "Home")'">Home</button>
</p>