@using Xero.NetStandard.OAuth2.Model.Accounting;
@model dynamic

<h2>Create Manual Journals</h2>
<form method="POST">
    <label for="narration">Narration:</label>
    <br>
    <input class="form-control" type="text" id="narration" placeholder="" name="narration" />
    <br>
    <label for="taxType">Tax Type:</label>
    <br>
    <select name="taxType">
        @foreach (var taxType in Enum.GetValues(typeof(TaxType))){
            <option value=@taxType selected="@(taxType.ToString() == "NONE")">@taxType</option>
        }
    </select>
    <br>
    <br>
    <input class="btn btn-primary" type="submit" />
</form>
