<h2>Create a currency</h2>

<!--To create a currency - country, code, currency name, -->

<form method="POST">

    <label for="CurrencyCode">Currency Code:</label>
    <br>
    <input class="form-control" type="text" id="CurrencyCode" placeholder="Enter 3 letter currency code" name="CurrencyCode" required/>
    <br>

    <label for="CurrencyDescription">Currency Description:</label>
    <br>
    <input class="form-control" type="text" step="any" id="CurrencyDescription" placeholder="Enter currency's description" name="CurrencyDescription" required/>
    <br>

    <br>
    <input class="btn btn-primary" type="submit" name="Make Request"/>
</form>