<h2>Create a Xero Bank Feed Connection</h2>

<form method="POST">
    <label for="AccountToken">AccountToken:</label>
    
    <br />
    
    <input class="form-control" type="text" id="AccountToken" placeholder="Enter a AccountToken" name="AccountToken" required />
    
    <br />
    
    <label for="AccountNumber">AccountNumber:</label>
    
    <br />
    
    <input class="form-control" type="text" id="AccountNumber" placeholder="Enter AccountNumber" name="AccountNumber" required />
    
    <br />
    
    <label for="AccountType">Choose an AccountType:</label>
    
    <br />
    
    <select id="AccountType" name="AccountType">
        <option class="dropdown-item" value="BANK">BANK</option>
        <option class="dropdown-item" value="CREDITCARD">CREDITCARD</option>
    </select>
    
    <br />
    <br />
    
    <label for="AccountName">AccountName:</label>
    
    <br />
    
    <input class="form-control" type="text" id="AccountName" placeholder="Enter AccountName" name="AccountName" required />
    
    <br />
    
    <label for="Currency">Currency:</label>
    
    <br />
    
    <input class="form-control" type="text" id="Currency" placeholder="Enter Currency" name="Currency" required />
    
    <br />
    
    <label for="Country">Country:</label>
    
    <br />
    
    <input class="form-control" type="text" id="Country" placeholder="Enter Country" name="Country" required />
    
    <br />
    
    <input class= "btn btn-primary" type="submit" />
</form>