@model dynamic

<h2>Modify Folder</h2>

<form method="POST" action="/FoldersSync/Rename">
    <select id="folderId" name="folderId">
    <option value=@ViewBag.folderId>@ViewBag.folderId</option>
    </select>   
    <br> 
    <label for="NewName">New Folder Name:</label>
    <br>
    <input type="text" id="NewName" placeholder="Enter a new folder name" name="NewName" value=@ViewBag.folderName />    
    <br>
    <input type="submit" />
</form>

<br>
<p>
  <button onclick="location.href='@Url.Action("Index", "FoldersSync")'">Back</button>
</p>
