<h2>Create a Xero NZ Payroll Employee</h2>

<form method="POST">
    <label for="firstName">First Name:</label>
    <br>
    <input class="form-control" type="text" id="firstName" placeholder="" name="firstName" required/>
    <br>
    <label for="lastName">Last Name:</label>
    <br>
    <input class="form-control" type="text" id="lastName" placeholder="" name="lastName" required/>
    <br>
    <br>
    <input class="btn btn-primary" type="submit" />
</form>

<hr>

<p><b>Code Example:</b></p>
<p>Create NZ Employee</p>
<pre>
// Assuming accessToken and xeroTenantId has been provided
DateTime dob = DateTime.Today.AddYears(-20);

Address homeAddress = new Address() {
  AddressLine1 = "19 Taranaki Street",
  City = "Wellington",
  PostCode = "6011"
};

Employee employee = new Employee() {
  FirstName = firstName,
  LastName = lastName,
  DateOfBirth = dob,
  Address = homeAddress,
  Gender = Employee.GenderEnum.M,
  Title = "Mr"
};

var PayrollNZApi = new PayrollNzApi();
var response = await PayrollNZApi.CreateEmployeeAsync(accessToken, xeroTenantId, employee);
</pre>
<br>
<p>
  <button class="btn btn-link" onclick="location.href='@Url.Action("Index", "Home")'">Home</button>
</p>
<br>
<br>
<br>